<section id=product_model_detail >
<div>
  <h1><%= @product_model.name %></h1>
  <dl>
    <dt>Fornecedor:</dt>
    <dd><%= @product_model.supplier.brand_name %></dd>
    <dt>Peso:</dt>
    <dd><%= @product_model.weight %>g</dd>
    <dt>Dimensão:</dt>
    <dd><%= @product_model.width %>cm x <%= @product_model.height %>cm x <%= @product_model.depth %>cm</dd>
    <dt>Código SKU:</dt>
    <dd><%= @product_model.sku %></dd>
  </dl>
  <hr>
</div>
</section>

<div>
  <%= link_to 'Home', root_path  %>
</div>