<section id="suppliers">
  <h2>Lista de Fornecedores</h2>
  <div>
    <%= link_to('Cadastrar Fornecedor', new_supplier_path ) %>
  </div>
  <% @suppliers.each do |s| %>
  <div>
    <dl>
      <%# <dt> Razão Social:</dt> %>
      <dt><%= Supplier.human_attribute_name(:corporate_name) %>:</dt>
      <dd><%= s.corporate_name %></dd>
      <dt> Nome Fantasia:</dt>
      <dd><%= s.brand_name %></dd>
      <dt>CNPJ</dt>
      <dd><%= s.registration_number %></dd>
      <dt>Endereço:</dt>
      <dd><%= s.full_address %></dd>
      <dt>Cidade:</dt>
      <dd><%= s.city %></dd>
      <dt>Estado:</dt>
      <dd><%= s.state %></dd>
      <dt>E-mail:</dt>
      <dd><%= s.email %></dd>
      <dt>Telefone:</dt>
      <dd><%= s.phone %></dd>
    </dl>
  </div>
    <hr>

  <% end %>

  <%= link_to 'Home', root_path %>

  <% if @suppliers.empty? %>
  <p> Não existem fornecedores cadastrados </p>
  <% end  %>

</section>