<section id="supplier_detail">
<div>
  <h2>Fornecedor <%= @supplier.brand_name %></h2>
  <dl>
    <dt>Razão Social: </dt>
    <dd><%= @supplier.corporate_name %></dd>
    <dt>CNPJ: </dt>
    <dd><%= @supplier.registration_number %></dd>
    <dt>Endereço: </dt>
    <dd><%= @supplier.full_address %> - <%= @supplier.city %> - <%= @supplier.state %></dd>
    <dt>E-mail: </dt>
    <dd><%= @supplier.email %></dd>
    <dt>Telefone:</dt>
    <dd><%= @supplier.phone %></dd>
  </dl>

  
<hr>
</div>
</section>
<div>
  <%= link_to 'Home', root_path  %> | <%= link_to 'Editar', edit_supplier_path(@supplier) %>
</div>